.tmux/plugins/tmux-powerline
.tmux/plugins/tmux-sensible
.tmux/plugins/tmux-power
.tmux/plugins/tpm
.oh-my-zsh
.tmux-client-*.log

*.pyc
.venv/
bin/mirrorshield
.tmux/
.claude/stats-cache.json
tmux-client*
